{% extends "base.html" %}

{% block content %}
<div class="tags">
  <h1>Welcome to the <br> <span class="spans">Grind</span></h1>
  <p class="paras-subtopics">Join the Large Community of Eswatini's Young People and Showcase Your Skills & Abilities Today;
    <ul class="paras-subtopics">
      <li>Find a Temporal Job Don't Stay Broke </li>
      <li>Increase Your Skills & Work Experience while still waiting for your Dream Job</li>
      <li>Increase Your Changes to get Employed, by showing the outside World your Skills</li>
    </ul>
  </p>
  <div class="actions">
    <a  href="sign_up"><button class="btns" id="join_btn">Join Community</button> </a>
  </div>
</div>
{% endblock %}